.vscode/**
.vscode-test/**
.yarn/*
.gitignore
.github
.gitmodules
.gitpod.yml
oml-sprotty/**
node_modules/**
bin
docs
examples
generated
scripts
src
test
langium-config.json
tsconfig.json
.eslintrc.json
